@model CustomerRegistration.Models.Customer;

@{
    ViewData["Title"] = "Registration";

}


<form>
    <table border="0" align="center">
        <thead>
            <tr align="center">
                <th colspan="2"><h1>REGISTRATION FORM</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    @if (Model.EncryptedCustomerId != null)
                    {
                        <input id="txtid" hidden class="form-control " value="@Model.EncryptedCustomerId" />
                    }
                    else
                    {
                        <input id="txtid" hidden class="form-control " />
                    }

                </td>
            </tr>
            <tr>
                <td>Customer Code:</td>
                <td>
                    @if (!String.IsNullOrWhiteSpace(Model.CustomerCode))
                    {
                        <input id="txtCustomerCode" maxlength="15" class="form-control txtCustomerCode" placeholder="Enter Customer Code" value="@Model.CustomerCode" autocomplete="off" />
                    }
                    else
                    {
                        <input id="txtCustomerCode" maxlength="15" class="form-control txtCustomerCode" placeholder="Enter Customer Code" autocomplete="off" />
                    }

                    <span class="text-danger errCustCode"></span>
                </td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>
                    @if (Model.CustomerName != null)
                    {
                        <input id="txtname" class="form-control txtCustomerName" placeholder="Enter Customer Name" value="@Model.CustomerName" autocomplete="off" />
                    }
                    else
                    {
                        <input id="txtname" class="form-control txtCustomerName" placeholder="Enter Customer Name" autocomplete="off" />
                    }
                    <span class="text-danger errCustName"></span>

                </td>
            </tr>
            <tr>
                <td>Mobile No:</td>
                <td>
                    @if (Model.CustomerPhone != null)
                    {
                        <input id="txtmobile" class="form-control txtMobileNumber" maxlength="10" placeholder="Enter Mobile Number" value="@Model.CustomerPhone" autocomplete="off" />
                    }
                    else
                    {
                        <input id="txtmobile" class="form-control txtMobileNumber" maxlength="10" placeholder="Enter Mobile Number" autocomplete="off" />
                    }
                    <span class="text-danger errCustMob"></span>
                </td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>
                    @if (Model.CustomerEmail != null)
                    {
                        <input id="txtemail" class="form-control txtCustomerEmail" placeholder="Enter Email" value="@Model.CustomerEmail" autocomplete="off" />

                    }
                    else
                    {
                        <input id="txtemail" class="form-control txtCustomerEmail" placeholder="Enter Email" autocomplete="off" />
                    }
                    <span class="text-danger errCustEmail"></span>
                </td>
            </tr>
            <tr>
                <td>State:</td>
                <td>
                    @if (Model.StateId != null)
                    {
                        <select asp="StateId" id="StateId" asp-items="@(new SelectList( ViewBag.State,"StateId","StateName",Model.StateId))" class="form-control ddlState">
                        </select>
                    }
                    else
                    {
                        <select asp="StateId" id="StateId" asp-items="@(new SelectList( ViewBag.State,"StateId","StateName"))" class="form-control ddlState">
                        </select>
                    }
                    <span class="text-danger errState"></span>
                </td>
            </tr>
            <tr>
                <td>District:</td>
                <td>
                    @if (Model.DistrictId != null)
                    {
                        @*<select asp="distid" id="distid" class="form-control ddlDistrict" value="@Model.DistrictId">
                                <option value="@Model.DistrictId">@Model.DistrictName</option>
                            </select>*@

                        @Html.DropDownListFor(model => model.DistrictId, new SelectList(ViewBag.dist, "DistrictId", "DistrictName"), new { @class = "form-control ddlDistrict", name = "distid", id = "distid" })

                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.DistrictId, new List<SelectListItem>(), "-- Select --", new { @class = "form-control ddlDistrict", name = "distid", id = "distid" })
                    }

                    <span class="text-danger errDistrict"></span>
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    @if (Model.City != null)
                    {
                        <input id="txtcity" class="form-control txtCustCity" placeholder="Enter City Name" value="@Model.City" autocomplete="off" />
                    }
                    else
                    {
                        <input id="txtcity" class="form-control txtCustCity" placeholder="Enter City Name" autocomplete="off" />
                    }
                    <span class="text-danger errCustCity"></span>
                </td>
            </tr>
            <tr>
                <td>Pincode:</td>
                <td>
                    @if (Model.Pincode != null)
                    {
                        <input id="txtpincode" class="form-control txtCustPin" placeholder="Enter Pin Code" maxlength="6" value="@Model.Pincode" autocomplete="off" />
                    }
                    else
                    {
                        <input id="txtpincode" class="form-control txtCustPin" placeholder="Enter Pin Code" maxlength="6" autocomplete="off" />
                    }
                    <span class="text-danger errCustPin"></span>
                </td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    @if (Model.CustomerGender != null)
                    {
                        @if (Model.CustomerGender == "Male")
                        {
                            <input type="radio" id="custgen" name="custgen" class="s_type" value="Male" checked />
                            <label for="custgen">Male</label>
                            <input type="radio" id="custgen" name="custgen" class="s_type" value="Female" />
                            <label for="custgen">Female</label>
                        }
                        else
                        {
                            <input type="radio" id="custgen" name="custgen" class="s_type" value="Male" />
                            <label for="custgen">Male</label>
                            <input type="radio" id="custgen" name="custgen" class="s_type" value="Female" checked />
                            <label for="custgen">Female</label>
                        }

                    }
                    else
                    {
                        <input type="radio" id="custgen" name="custgen" class="s_type" value="Male" />
                        <label for="custgen">Male</label>
                        <input type="radio" id="custgen" name="custgen" class="s_type" value="Female" />
                        <label for="custgen">Female</label>
                    }
                    <span class="text-danger errCustGen"></span>

                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>
                    @if (Model.CustomerAddress != null)
                    {
                        <textarea id="txtadd" class="form-control" autocomplete="off" maxlength="1000">@Model.CustomerAddress
                        </textarea>

                        <span class="text-danger errCustAdd"></span>
                    }
                    else
                    {
                        <textarea id="txtadd" class="form-control" autocomplete="off" maxlength="1000"></textarea>

                        <span class="text-danger errCustAdd"></span>
                    }
                    <span id="addChars" class="text-danger">1000 </span><span class="text-danger">Character(s) Remaining</span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" id="Save" value="Save" class="btn btn-primary btnSaveUpdate " onclick="return Validation()" />
                    <button id="Reset" class=" btn btn-danger">Reset</button>
                </td>
                <td align="center">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="modal fade" id="SubmitModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Customer Details</h5>
            </div>
            <div class="modal-body">
                <h6 class="modalMsg"></h6>
                <h6 class="modalMsg1"></h6>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-info btn-sm submitConfirm hbtn" value="Yes" style="display:none" />
                <button type="button" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" aria-label="Close">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SuccessModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="resultMsg" style="color:blue"></h5>
            </div>
            <div class="modal-body">
                <h5 class="msgsuccess"></h5>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger btnok" asp-controller="Home" asp-action="Show">Close</a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $('.ddlState').change(function (e) {
        var StateId = $('.ddlState option:selected').val();
        if (StateId != 0) {
            $('.errState').text("");
            return true;
        }
        else {
            $('.errState').text('Please select state');
            return false;
        }
    });

    $('.ddlDistrict').change(function (e) {
        var Distid = $('.ddlDistrict option:selected').val();
        if (Distid != 0) {
            $('.errDistrict').text("");
            return true;
        }
        else {
            $('.errDistrict').text('Please select district');
            return false;
        }
    });

    $("#txtCustomerCode").keyup(function (e) {
        var CustomerCode = $("#txtCustomerCode").val();
        if (CustomerCode == '') {
            $('.errCustCode').text('Please enter customer code');
            return false;
        }
        else {
            if (CustomerCode.length < 15) {
                //alert('your message');
                $('.errCustCode').text("Please enter 15 digit customer code");
                return false;
            }
            else {
                $('.errCustCode').text("");
                return true;
            }
            $('.errCustCode').text("");
            return true;
        }
    });

    $('.txtCustomerCode').keypress(function (e) {
        var charCode = (e.which) ? e.which : event.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9]/g))
            return false;
    });

    $("#txtname").keyup(function (e) {
        var CustomerName = $("#txtname").val();
        if (CustomerName == '') {
            $('.errCustName').text('Please enter name');
            return false;
        }
        else {
            if (CustomerName.length > 25) {
                $('.errCustName').text("Name should be less than 25 character");
                return false;
            }
            else {
                $('.errCustName').text("");
                return true;
            }
        }
    });
    $('#txtname').keypress(function (e) {
        var regex = new RegExp("^[a-zA-Z ]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            $('.errCustName').text("");
            return true;
        }
        else {
            e.preventDefault();
            $('.errCustName').text('Please Enter Alphabate');
            return false;
        }
    });
    $("#txtmobile").keyup(function (e) {
        var CustomerPhone = $("#txtmobile").val();
        if (CustomerPhone == '') {
            $('.errCustMob').text('Please enter Mobile Number');
            return false;
        }
        else {
            if (CustomerPhone.length < 10) {
                //alert('your message');
                $('.errCustMob').text("Please enter 10 digit number");
                return false;
            }
            else {
                $('.errCustMob').text("");
                return true;
            }
            return true;
        }
    });
    $('#txtmobile').keypress(function (e) {

        var charCode = (e.which) ? e.which : event.keyCode

        if (String.fromCharCode(charCode).match(/[^0-9]/g))

            return false;
    });
    $("#txtemail").keyup(function (e) {
        var CustomerEmail = $("#txtemail").val();
        if (CustomerEmail == '') {
            $('.errCustEmail').text('Please enter Email');
            return false;
        }
        else {
            emailvalidation();
        }
    });
    function emailvalidation() {
        var email = $("#txtemail").val();
        var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!filter.test(email)) {
            //alert('Please provide a valid email address');
            $(".errCustEmail").text(email + " is not a valid email");
            email.focus;
            return false;
        } else {
            $(".errCustEmail").text("");
            return true;
        }
    }
    $("#txtcity").keyup(function (e) {
        var CustomerCity = $("#txtcity").val();
        if (CustomerCity == '') {
            $('.errCustCity').text('Please enter City');
            return false;
        }
        else {
            if (CustomerCity.length > 15) {

                $('.errCustCity').text("City should be less than 15 character");
                return false;
            }
            else {
                $('.errCustCity').text("");
                return true;
            }
        }
    });
    $('#txtcity').keypress(function (e) {
        var regex = new RegExp("^[a-zA-Z ]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            $('.errCustCity').text("");
            return true;
        }
        else {
            e.preventDefault();
            $('.errCustCity').text('Please Enter Alphabate');
            return false;
        }
    });
    $("#txtpincode").keyup(function (e) {
        var CustomerPin = $("#txtpincode").val();
        if (CustomerPin == '') {
            $('.errCustPin').text('Please enter Pincode');
            return false;
        }
        else {
            if (CustomerPin.length < 6) {
                $('.errCustPin').text("Pincode must have 6 digits");
                return false;
            }
            else {
                $('.errCustPin').text("");
                return true;
            }
        }
    });
    $('#txtpincode').keypress(function (e) {

        var charCode = (e.which) ? e.which : event.keyCode

        if (String.fromCharCode(charCode).match(/[^0-9]/g))

            return false;
    });
    var maxLength = 1000;
    $("#txtadd").keyup(function (e) {
        var CustomerAdd = $("#txtadd").val();
        var textlen = maxLength - $(this).val().length;
        $('#addChars').text(textlen);
        if (CustomerAdd == '') {
            $('.errCustAdd').text('Please enter Address');
            return false;
        }
        else {
            $('.errCustAdd').text("");
            return true;
        }
    });




    function Validation() {
        var chk = 0;
        var CustomerCode = $("#txtCustomerCode").val();
        var CustomerName = $("#txtname").val();
        var CustomerPhone = $('.txtMobileNumber').val();
        var CustomerEmail = $('.txtCustomerEmail').val();
        var StateId = $('.ddlState option:selected').val();
        var Distid = $('.ddlDistrict option:selected').val();
        var CustomerCity = $('.txtCustCity').val();
        var CustomerAddress = $('#txtadd').val();
        var CustomerPin = $("#txtpincode").val();
        if (CustomerCode != '' && CustomerCode.length == 15) {
            $('.errCustCode').text();
            chk = 1;
            if (CustomerName != '' && CustomerName.length <= 25) {
                $('.errCustName').text();
                chk = 1;

                if (CustomerPhone != '' && CustomerPhone.length == 10) {
                    $('.errCustMob').text();
                    chk = 1;
                    if (CustomerEmail != '' && emailvalidation() == true) {
                        $('.errCustEmail').text();
                        chk = 1;
                        if (StateId != 0) {
                            $('.errState').text();
                            chk = 1;
                            if (Distid != 0) {
                                $('.errDistrict').text();
                                chk = 1;
                                if (CustomerCity != '' && CustomerCity.length <= 15) {
                                    $('.errCustCity').text();
                                    chk = 1;
                                    if (CustomerPin != '' && CustomerPin.length == 6) {
                                        $('.errCustPin').text();
                                        chk = 1;
                                        if ($('input[type=radio][name=custgen]:checked').length != 0) {
                                            $('.errCustGen').text("");
                                            chk = 1;
                                            if (CustomerAddress != '' && CustomerAddress.length <= 1000) {
                                                $('.errCustAdd').text();
                                                if (chk == 1) {
                                                    return true
                                                }
                                                else {
                                                    return false;
                                                }
                                            }
                                            else {
                                                $('.errCustAdd').text('Please enter Address');
                                                return;
                                            }
                                        }
                                        else {
                                            $('.errCustGen').text("Please Select Gender");
                                            chk = 0;
                                        }
                                    }
                                    else {
                                        $('.errCustPin').text('Please enter 6 digit Pin');
                                        chk = 0;
                                    }
                                }
                                else {
                                    $('.errCustCity').text('Please enter City');
                                    chk = 0;
                                }
                            }
                            else {
                                $('.errDistrict').text('Please Select District');
                                chk = 0;
                            }
                        }
                        else {
                            $('.errState').text('Please Select State');
                            chk = 0;
                        }
                    }
                    else {
                        $('.errCustEmail').text('Please enter valid Email');
                        chk = 0;
                    }
                }
                else {
                    $('.errCustMob').text('Please enter 10 digits Mobile Number');
                    chk = 0;
                }
            }
            else {
                $('.errCustName').text('Please enter Name');
                chk = 0;
            }
        }
        else {
            $('.errCustCode').text('Please enter 15 digit customer code');
            chk = 0;
        }
    }



    $(document).ready(function () {
        $("#StateId").change(function () {
            var id = $(this).val();
            $("#distid").empty();
            $.getJSON("/Home/District_Bind", { stateid: id }, function (data) {
                data = JSON.parse(data);
                var v = "<option value=0>--- Select ---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#distid").html(v);
            });
        });
    });

    $(".btnSaveUpdate").click(function () {
        var chkValidation = Validation();
        if (chkValidation == true) {
            $('.modalMsg').text('Are you sure to save the details ?');
            $('.submitConfirm').css('display', 'block');
            $('#SubmitModal').modal("show");
        }
    });

    $(".submitConfirm").click(function () {
        var CustRecord = {
            customerId: $("#txtid").val()
            , customerCode: $("#txtCustomerCode").val()
            , customerName: $("#txtname").val()
            , customerPhone: $("#txtmobile").val()
            , customerEmail: $("#txtemail").val()
            , stateId: $("#StateId").val()
            , districtId: $("#distid").val()
            , city: $("#txtcity").val()
            , pincode: $("#txtpincode").val()
            , customerGender: $(".s_type:checked").val()
            , customerAddress: $("#txtadd").val()
        };

        $.post("/Home/Create", CustRecord, function () {
            if (CustRecord.customerId == 0 || CustRecord.customerId == "") {
                $('.modalMsg').text('');
                $('#SubmitModal').modal("hide");
                $('.msgsuccess').text('Data Inserted successfully.');
                $('#SuccessModal').modal('show');
            }
            else {
                $('.modalMsg').text('');
                $('#SubmitModal').modal("hide");
                $('.msgsuccess').text('Data updated successfully.');
                $('#SuccessModal').modal('show');
            }
        });

    });

    $('#Reset').click(function () {
        $("#txtid").val() = "";
        $("#txtCustomerCode").val() = "";
        $("#txtname").val() = "";
        $("#txtmobile").val() = "";
        $("#txtemail").val() = "";
        $("#StateId").val() = "";
        $("#distid").val() = "";
        $("#txtcity").val() = "";
        $("#txtpincode").val() = "";
        $(".s_type:checked").val() = "";
        $("#txtadd").val() = "";
    });
    //$('btnok').click(function () {
    //    window.location.href = appRoot + "Home/Show";

    //})
</script>
